flows/Create_opportunities_on_relsated_account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Opoortunity_Record</name>
        <label>Opoortunity Record</label>
        <locationX>899</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_list</name>
        <label>Opportunity list</label>
        <locationX>794</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>OppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NUmbers_of_opportunities_need_to_be_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NUmbers_of_opportunities_need_to_be_created</name>
        <label>NUmbers of opportunities need to be created</label>
        <locationX>504</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Create_opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>required_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Opportunities_needed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Details</targetReference>
            </connector>
            <label>required records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create opportunities on relsated account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create &apos;N&apos; opportunities on relsated account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_opportunities</name>
        <label>Create opportunities</label>
        <locationX>793</locationX>
        <locationY>542</locationY>
        <inputReference>OppList</inputReference>
    </recordCreates>
    <screens>
        <name>Get_Quantity</name>
        <label>Get Quantity</label>
        <locationX>500</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NUmbers_of_opportunities_need_to_be_created</targetReference>
        </connector>
        <fields>
            <name>Number_of_Opportunities_needed</name>
            <dataType>Number</dataType>
            <fieldText>Number of Opportunities needed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Details</name>
        <label>Opportunity Details</label>
        <locationX>668</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opoortunity_Record</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>StageName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>376</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_Quantity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
